In [24]:
import pandas as pd

In [25]:
hist_vel = pd.read_csv("datasets/historico_velocidad_internet.csv")
hist_vel.head()

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022
3  2021          4                  52,34   Oct-Dic 2021
4  2021          3                  48,46  Jul-Sept 2021

In [26]:
hist_vel = hist_vel.drop("Trimestre.1", axis=1)
hist_vel.head()

    Año  Trimestre Mbps (Media de bajada)
0  2022          3                  62,46
1  2022          2                  58,44
2  2022          1                  55,11
3  2021          4                  52,34
4  2021          3                  48,46

In [27]:
hist_vel['Mbps (Media de bajada)'] = hist_vel['Mbps (Media de bajada)'].str.replace(',', '.')
hist_vel["Mbps (Media de bajada)"] = hist_vel["Mbps (Media de bajada)"].astype(float)
hist_vel.head()

    Año  Trimestre  Mbps (Media de bajada)
0  2022          3                   62.46
1  2022          2                   58.44
2  2022          1                   55.11
3  2021          4                   52.34
4  2021          3                   48.46

In [28]:
BAF = pd.read_csv("datasets/Internet_BAF.csv")
BAF.head()

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0  2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
3  2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
4  2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021

In [29]:
BAF['Banda ancha fija'] = BAF['Banda ancha fija'].str.replace('.', '')
BAF['Total'] = BAF['Total'].str.replace('.', '')

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\4148967829.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  BAF['Banda ancha fija'] = BAF['Banda ancha fija'].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\4148967829.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  BAF['Total'] = BAF['Total'].str.replace('.', '')

In [30]:
BAF['Banda ancha fija'] = BAF['Banda ancha fija'].astype(int)
BAF['Total'] = BAF['Total'].astype(int)

In [31]:
BAF["Dial up"] = BAF["Dial up"].astype(str)
BAF["Dial up"] = BAF["Dial up"].str.replace('.', '')
BAF["Dial up"] = BAF["Dial up"].astype(int)

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\255037228.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  BAF["Dial up"] = BAF["Dial up"].str.replace('.', '')

In [32]:
BAF = BAF.drop("Periodo", axis=1)
BAF.head()

    Año  Trimestre  Banda ancha fija  Dial up     Total
0  2022          3          11078691    12437  11091128
1  2022          2          10946248    12436  10958684
2  2022          1          10611390    12619  10624009
3  2021          4          10476933    12861  10489794
4  2021          3          10075184    10357  10085541

In [33]:
penetracion = pd.read_csv("datasets/Internet_Penetracion.csv")
penetracion = penetracion.iloc[::-1]
penetracion.head()

      Año  Trimestre            Provincia Accesos por cada 100 hogares
839  2014          1              Tucumán                        33,42
838  2014          1     Tierra Del Fuego                        63,97
837  2014          1  Santiago Del Estero                        16,31
836  2014          1             Santa Fe                        47,85
835  2014          1           Santa Cruz                        28,94

In [34]:
penetracion["Accesos por cada 100 hogares"] = penetracion["Accesos por cada 100 hogares"].str.replace(',', '.')

In [35]:
penetracion["Accesos por cada 100 hogares"] = penetracion["Accesos por cada 100 hogares"].astype(float)
penetracion.head()

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
839  2014          1              Tucumán                         33.42
838  2014          1     Tierra Del Fuego                         63.97
837  2014          1  Santiago Del Estero                         16.31
836  2014          1             Santa Fe                         47.85
835  2014          1           Santa Cruz                         28.94

In [36]:
tec = pd.read_csv("datasets/Internet_Accesos-por-tecnologia.csv")
tec = tec.drop("Periodo", axis=1)

In [37]:
tec["ADSL"] = tec["ADSL"].str.replace('.', '')
tec["Cablemodem"] = tec["Cablemodem"].str.replace('.', '')
tec["Fibra óptica"] = tec["Fibra óptica"].str.replace('.', '')
tec["Total"] = tec["Total"].str.replace('.', '')

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3152763367.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tec["ADSL"] = tec["ADSL"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3152763367.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tec["Cablemodem"] = tec["Cablemodem"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3152763367.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tec["Fibra óptica"] = tec["Fibra óptica"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3152763367.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tec["Total"] = tec["Total"].str.replace('.', '')

In [38]:
tec["ADSL"] = tec["ADSL"].astype(int)
tec["Cablemodem"] = tec["Cablemodem"].astype(int)
tec["Fibra óptica"] = tec["Fibra óptica"].astype(int)
tec["Total"] = tec["Total"].astype(int)
tec.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,1395277,6031970,2871541,557.110,235.230,11091128
1,2022,2,1468333,5979214,2723285,556.243,231.609,10958684
2,2022,1,1533240,6073426,2219533,545.814,251.996,10624009
3,2021,4,1657615,5984240,2072236,523.107,252.596,10489794
4,2021,3,1950631,5826257,1566048,492.415,250.190,10085541

In [39]:
tec["Wireless"] = tec["Wireless"].astype(str)
tec["Wireless"] = tec["Wireless"].str.replace('.', '')
tec["Wireless"] = tec["Wireless"].astype(int)

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3037685780.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tec["Wireless"] = tec["Wireless"].str.replace('.', '')

In [40]:
tec["Otros"] = tec["Otros"].astype(str)
tec["Otros"] = tec["Otros"].str.replace('.', '')
tec["Otros"] = tec["Otros"].astype(int)
tec.head()

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3152345072.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tec["Otros"] = tec["Otros"].str.replace('.', '')

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,1395277,6031970,2871541,55711,23523,11091128
1,2022,2,1468333,5979214,2723285,556243,231609,10958684
2,2022,1,1533240,6073426,2219533,545814,251996,10624009
3,2021,4,1657615,5984240,2072236,523107,252596,10489794
4,2021,3,1950631,5826257,1566048,492415,25019,10085541

In [41]:
prov = pd.read_csv("datasets/Internet_Accesos-por-velocidad.csv")
prov.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778

In [42]:
prov["HASTA 512 kbps"] = prov["HASTA 512 kbps"].astype(str)
prov["HASTA 512 kbps"] = prov["HASTA 512 kbps"].str.replace('.', '')
prov["HASTA 512 kbps"] = prov["HASTA 512 kbps"].astype(int)

prov["+ 512 Kbps - 1 Mbps"] = prov["+ 512 Kbps - 1 Mbps"].astype(str)
prov["+ 512 Kbps - 1 Mbps"] = prov["+ 512 Kbps - 1 Mbps"].str.replace('.', '')
prov["+ 512 Kbps - 1 Mbps"] = prov["+ 512 Kbps - 1 Mbps"].astype(int)

prov["+ 1 Mbps - 6 Mbps"] = prov["+ 1 Mbps - 6 Mbps"].astype(str)
prov["+ 1 Mbps - 6 Mbps"] = prov["+ 1 Mbps - 6 Mbps"].str.replace('.', '')
prov["+ 1 Mbps - 6 Mbps"] = prov["+ 1 Mbps - 6 Mbps"].astype(int)
prov.head()

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3736852941.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["HASTA 512 kbps"] = prov["HASTA 512 kbps"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3736852941.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["+ 512 Kbps - 1 Mbps"] = prov["+ 512 Kbps - 1 Mbps"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3736852941.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["+ 1 Mbps - 6 Mbps"] = prov["+ 1 Mbps - 6 Mbps"].str.replace('.', '')

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,5170,5742,34371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,710,3840,3107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,4610,9870,16782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,1090,1444,45707,30.940,34.682,15.309,17.563,20.024,165.778

In [43]:
prov["+ 6 Mbps - 10 Mbps"] = prov["+ 6 Mbps - 10 Mbps"].astype(str)
prov["+ 6 Mbps - 10 Mbps"] = prov["+ 6 Mbps - 10 Mbps"].str.replace('.', '')
prov["+ 6 Mbps - 10 Mbps"] = prov["+ 6 Mbps - 10 Mbps"].astype(int)

prov["+ 10 Mbps - 20 Mbps"] = prov["+ 10 Mbps - 20 Mbps"].astype(str)
prov["+ 10 Mbps - 20 Mbps"] = prov["+ 10 Mbps - 20 Mbps"].str.replace('.', '')
prov["+ 10 Mbps - 20 Mbps"] = prov["+ 10 Mbps - 20 Mbps"].astype(int)

prov["+ 20 Mbps - 30 Mbps"] = prov["+ 20 Mbps - 30 Mbps"].astype(str)
prov["+ 20 Mbps - 30 Mbps"] = prov["+ 20 Mbps - 30 Mbps"].str.replace('.', '')
prov["+ 20 Mbps - 30 Mbps"] = prov["+ 20 Mbps - 30 Mbps"].astype(int)
prov.head()

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\774806919.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["+ 6 Mbps - 10 Mbps"] = prov["+ 6 Mbps - 10 Mbps"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\774806919.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["+ 10 Mbps - 20 Mbps"] = prov["+ 10 Mbps - 20 Mbps"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\774806919.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["+ 20 Mbps - 30 Mbps"] = prov["+ 20 Mbps - 30 Mbps"].str.replace('.', '')

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,5170,5742,34371,67829,51946,28692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,710,3840,3107,5389,5099,3737,50.298,2.208,70.293
3,2022,3,Chaco,4610,9870,16782,18938,8049,15828,79.390,3.711,144.146
4,2022,3,Chubut,1090,1444,45707,3094,34682,15309,17.563,20.024,165.778

In [44]:
prov["+ 30 Mbps"] = prov["+ 30 Mbps"].astype(str)
prov["+ 30 Mbps"] = prov["+ 30 Mbps"].str.replace('.', '')
prov["+ 30 Mbps"] = prov["+ 30 Mbps"].astype(int)

prov["Total"] = prov["Total"].astype(str)
prov["Total"] = prov["Total"].str.replace('.', '')
prov["Total"] = prov["Total"].astype(int)
prov.head()

C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3593469892.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["+ 30 Mbps"] = prov["+ 30 Mbps"].str.replace('.', '')
C:\Users\Abel\AppData\Local\Temp\ipykernel_2348\3593469892.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prov["Total"] = prov["Total"].str.replace('.', '')

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65.821,4721668
1,2022,3,Capital Federal,5170,5742,34371,67829,51946,28692,1253105,105.477,1547679
2,2022,3,Catamarca,710,3840,3107,5389,5099,3737,50298,2.208,70293
3,2022,3,Chaco,4610,9870,16782,18938,8049,15828,79390,3.711,144146
4,2022,3,Chubut,1090,1444,45707,3094,34682,15309,17563,20.024,165778

In [45]:
hist_vel['trimestre_año'] = hist_vel['Año'].astype(str) + ' T' + hist_vel['Trimestre'].astype(str)
BAF['trimestre_año'] = BAF['Año'].astype(str) + ' T' + BAF['Trimestre'].astype(str)
penetracion['trimestre_año'] = penetracion['Año'].astype(str) + ' T' + penetracion['Trimestre'].astype(str)
tec['trimestre_año'] = tec['Año'].astype(str) + ' T' + tec['Trimestre'].astype(str)
prov['trimestre_año'] = prov['Año'].astype(str) + ' T' + prov['Trimestre'].astype(str)

In [46]:
hist_vel = hist_vel.drop(["Año", "Trimestre"], axis=1)
BAF = BAF.drop(["Año", "Trimestre"], axis=1)
penetracion = penetracion.drop(["Año", "Trimestre"], axis=1)
tec = tec.drop(["Año", "Trimestre"], axis=1)
prov = prov.drop(["Año", "Trimestre"], axis=1)

In [47]:
hist_vel.to_csv("datasets/historico_velocidad_internet.csv", index=False)
BAF.to_csv("datasets/Internet_BAF.csv", index=False)
penetracion.to_csv("datasets/Internet_Penetracion.csv", index=False)
tec.to_csv("datasets/Internet_Accesos-por-tecnologia.csv", index=False)
prov.to_csv("datasets/Internet_Accesos-por-velocidad.csv", index=False)